.button {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 3px;
  color: $text-body;
  cursor: pointer;
  padding: 0.5em 1em;

  transition: color 0.2s ease;

  &:hover {
    color: $dark-grey;
  }

  &:focus {
    box-shadow: $focus-box-shadow;
  }

  &--load-more {
    margin-top: $large-spacing;
  }
}
