.panel {
  flex: 1;

  &__company {
    flex-basis: calc(33.33% - #{$small-spacing * 2});
    max-width: calc(33.33% - #{$small-spacing * 2});

    @include breakpoint(desktop) {
      flex-basis: calc(50% - #{$small-spacing * 2});
      max-width: calc(50% - #{$small-spacing * 2});
    }

    @include breakpoint(tablet) {
      flex-basis: calc(50% - #{$small-spacing * 2});
      max-width: calc(50% - #{$small-spacing * 2});
    }

    @include breakpoint(mobile) {
      flex-basis: calc(100% - #{$small-spacing * 2});
      max-width: calc(100% - #{$small-spacing * 2});
    }
  }
}
