// Breakpoints
@mixin breakpoint($size) {

  @if $size == mobile {
    @media only screen and (max-width : $max-width-small) {
      @content;
    }
  } @else if $size == tablet {
    @media only screen and (min-width : $max-width-small + 1px) and (max-width : $max-width-medium) {
      @content;
    }
  } @else if $size == desktop {
    @media only screen and (min-width : $max-width-medium + 1px) and (max-width : $max-width-large) {
      @content;
    }
  } @else if $size == desktop-large {
    @media only screen and (min-width : $max-width-x-large + 1px) {
      @content;
    }
  }
}
