$white: #fff;
$black: #29383c;
$grey: #888;
$dark-grey: #555;
$light-grey: #e4e4e4;

$text-heading: #29383c;
$text-body: #747474;

$investment-background: #e4e4e4;
$investment-funded: #64a816;
$investment-underfunded: #f08f00;
