// Element spacing/padding
$small-spacing: 0.5em;
$standard-spacing: 1em;
$large-spacing: 2em;
$x-large-spacing: 4em;

// Screen widths
$max-width-small: 750px;
$max-width-medium: 850px;
$max-width-large: 1000px;
$max-width-x-large: 1200px;
