.company {
  $company-box-shadow: 0 $small-spacing $small-spacing 0 rgba(0, 0, 0, 0.1);

  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 3px;
  color: $black;
  cursor: pointer;
  margin: $small-spacing;
  overflow: hidden;
  text-decoration: none;

  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: $company-box-shadow;
  }

  &:focus {
    border-color: transparent;
    box-shadow: $company-box-shadow, $focus-box-shadow;
  }

  &__banner {
    height: 200px;
    width: 100%;
  }

  &__body {
    padding: $standard-spacing;
  }

  &__title {
    color: $text-heading;
    margin: 0;
  }

  &__description {
    color: $text-body;
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: $standard-spacing;
  }
}
