.company-banner {
  position: relative;

  &__image {
    background-position: center;
    background-size: cover;
    height: 160px;
    width: 100%;
    animation: fadein 1s;
  }

  &__logo {
    background-color: $light-grey;
    border: 1px solid $light-grey;
    bottom: 0;
    height: 102px;
    left: $standard-spacing;
    position: absolute;
    width: 102px;

    img {
      height: 100px;
      width: 100px;
      animation: fadein 1s;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
