.investment-chart {
  background-color: $investment-background;
  border-radius: 3px;
  height: 1.5rem;
  overflow: hidden;
  position: relative;

  &__bar {
    background-color: $investment-underfunded;
    height: 1.5rem;
    position: absolute;
    width: 1px;

    animation: investment-chart-grow 1s;
  }

  &__label {
    color: $white;
    font-size: 1rem;
    line-height: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    position: absolute;
  }

  &--funded &__bar {
    background-color: $investment-funded;
  }
}

@keyframes investment-chart-grow {
  from {
    width: 0;
  }
}
