.investment {
  margin-top: 4rem;

  &__target {
    font-weight: bold;
  }

  &__chart {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &__info-container {
    display: flex;
  }

  &__info {
    display: flex;
    flex-basis: 50%;
    flex-direction: column-reverse;
    text-align: center;

    dt {
      font-size: 0.8em;
      margin-top: 0.2rem;
    }

    dd {
      font-weight: bold;
      margin-left: 0;
    }

    &:not(:first-child) {
      border-left: 1px solid $light-grey;
    }
  }
}
