.search {
  margin: 0 auto;
  max-width: $max-width-x-large;

  input {
    border: 1px solid $light-grey;
    border-radius: 3px;
    color: $text-body;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
  }
}
